@import url(headerDashboard.css);
section {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}
span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
span:nth-child(even) {
    width: 20vw;
    height: 40vh;
    background: hsl(20, 76%, 58%);
}
span:nth-child(odd) {
    width: 20vw;
    height: 40vh;
    background: hsl(54, 63%, 71%);
}
img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 30vh;
    width: 20vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur grise avec une opacité de 0.5 */
    opacity: 0; /* Définissez l'opacité à 0 par défaut pour la rendre invisible */
    transition: opacity 0.3s ease; /* Ajoutez une transition fluide */
  }